<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    verbose="true"
>

<coverage>
     <include>
         <directory suffix=".php">src</directory>
     </include>
     <report>
        <html outputDirectory="coverage-report"/>
     </report>
        <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
        </filter>
</coverage>

    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DB_DSN" value="sqlite::memory:"/>
    </php>
</phpunit>
